Q1 Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
#string
my_string = "Hello, World!"

#list
my_list = [1, 2, 3, 4, 5]

#float
my_float = 3.14159

#tuple
my_tuple = (6, 7, 8, 9, 10)

Q2 Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Ans (i) var1 is a string
    (ii) var2 is a string
    (iii) var3 is a list of strings
    (iv) var4 is a float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
#(i) / (Division Operator):
    
a = 5
b = 3
result = a / b
print(result)  # Output:1.6666666666666667

#(ii) % (Modulo Operator):

a = 5
b = 3
remainder = a % b
print(remainder)  # Output:2

#(iii) // (Floor Division Operator):

a = 5
b = 3
result = a // b
print(result)  # Output:1 

#(iv) ** (Exponentiation Operator):

a = 5
b = 3
result = a ** b
print(result)  # Output: 125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
l=[2,9,"rishav",23.45,True,3+4j,'abc',1.,"2.5",0+1j]
for i in l:
    print(type(i))
else:
    print("this will be execute once for loop will complete")
    
#output:
'''<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'complex'>
this will be execute once for loop will complete'''

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = 27
B = 3
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"The number A is divisible by B {count} times.")

#user input

A = int(input("Enter the dividend (number A): "))
B = int(input("Enter the divisor (number B): "))

count = 0
while A % B == 0:
    A = A / B
    count += 1

print(f"Number A is divisible by number B {count} times.")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
my_list = [6, 12, 13, 17, 20, 27, 30, 32, 36, 39, 43, 45, 50, 51, 55, 60, 63, 66, 72, 77, 85, 80, 93, 107, 120]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")
        
#output
6 is divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
17 is not divisible by 3.
20 is not divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
32 is not divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
43 is not divisible by 3.
45 is divisible by 3.
50 is not divisible by 3.
51 is divisible by 3.
55 is not divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
72 is divisible by 3.
77 is not divisible by 3.
85 is not divisible by 3.
80 is not divisible by 3.
93 is divisible by 3.
107 is not divisible by 3.
120 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
'''mutable and immutable data types refer to whether the value of a data type can be changed after it has been created.

An immutable data type means that its value cannot be modified once it is created. It remains fixed or constant. Examples of immutable data types include integers, floating-point numbers, strings, and tuples.

For example,
'''
#mutable : list,dict,set
my_list = [1, 2, 3]

# Modifying the list by appending an element
my_list.append(4)

# Modifying the list by changing an element
my_list[1] = 5


#immutable:string,tuple

print(my_list)  # Output: [1, 5, 3, 4]

name = "Subh"

# Trying to modify the string by replacing a character
name[0] = "B"  # This will result in a TypeError

print(name)